# Python Introduction 24 Jan 2023

### Alur Pemrograman

<img src="https://i.ibb.co/0MkZvWh/logika.png" width="600" align="center">

### Interpreter or compiler

<img src="https://i.ibb.co/9VXZG2F/Python-Execution-Model.png" width="600" align="center">

<img src="https://i.ibb.co/PmKTKjX/python-compile.png" width="600" align="center">

## Short Cut Jupyter  

    While in command mode (press Esc to activate):

Enter take you into edit mode
* H show all shortcuts
* Up select cell above
* Down select cell below
* Shift + Up extend selected cells above
* Shift + Down extend selected cells below
* A insert cell above
* B insert cell below
* X cut selected cells
* C copy selected cells
* V paste cells below
* Shift + V paste cells above
* D, D (press the key twice) delete selected cells
* Z undo cell deletion
* S Save and Checkpoint
* Y change the cell type to Code
* M change the cell type to Markdown
* P open the command palette.
* Shift + Space scroll notebook up
* Space scroll notebook down
* 
While in edit mode (pressEnter to activate)
Esc take you into command mode
Tab code completion or indent
* Shift + Tab tooltip
* Ctrl + ] indent
* Ctrl + [ dedent
* Ctrl + A select all
* Ctrl + Z undo
* Ctrl + Shift + Z or Ctrl + Y redo
* Ctrl + Home go to cell start
* Ctrl + End go to cell end
* Ctrl + Left go one word left
* Ctrl + Right go one word right
* Ctrl + Shift + P open the command palette
* Down move cursor down

 ### Introduction, Data Types, and Variables

## Tipe Data Python 
- Integers 
- Floating 
- String 
- Boolean

#### Integer

In [8]:
print(1+2)
print(12222233333344444444444444444422+1)

3
12222233333344444444444444444423

In [11]:
number = 10 
print(number)
print(type(number))

10
<class 'int'>

#### floating point 
- tipe float menunjukan bilang floating point , ada digit decimal , karakter E atau e

In [13]:
fnumber = 7.5 
print(fnumber)
print(type(fnumber))

7.5
<class 'float'>

In [14]:
fnumber = .4e7 
print(fnumber)
print(type(fnumber))

4000000.0
<class 'float'>

#### String
diapit dengan tanda kutip satu atau dua

In [16]:
nama = "IKetut 1 Gunawan"
print(nama)
print(type(nama))

nama = 'IKetut 1 Gunawan'
print(nama)
print(type(nama))

IKetut 1 Gunawan
<class 'str'>
IKetut 1 Gunawan
<class 'str'>

##### Boolean

In [22]:
ok = True
print(ok)
print(type(ok))

True
<class 'bool'>

In [23]:
ok = False 
print(ok)
print(type(ok))

False
<class 'bool'>

#### Variable Assignment

In [18]:
x = y = z = 100 
print(x)
print(x,y,z)

100
100 100 100

#### Aturan variable names 
- variable tidak di depan dengan menggunakan angka 
- variable depan bisa menggunakan huruf (besar / kecil )
- variable depan menggunakan tanda / karakter garis bawah (_)

In [19]:
_ = "kosong"
print(_)

kosong

In [20]:
_1 = 1 
print(_1)

1

In [21]:
nama_depan = "Iketut" 
print(nama_depan)

Iketut

In [26]:
nama_belakang = 'Gunawan'
print(nama_belakang)
print(type(nama_belakang))
1_huruf = "abcde"
print(1_huruf)

SyntaxError: invalid decimal literal (711987817.py, line 4)

#### Standard penamaan suatu variable 
-  Snake Case  : first_name  
-  Camel Case  : jumlahAnakLakiLaki 
-  Pascal case : FistName

In [28]:
first_name = "Iketut"
last_name = "Gunawan"
tgl_lahir = 1011989 
amountSaldo = 50000 
AmountSaldo = 10000
amount_saldo = 1000 
print(amountSaldo, AmountSaldo, amountSaldo)

50000 10000 50000

#### Operator dan Expresion

##### Basic Arithmetic operation 


| Operator | Description |	Syntax |
-----------|:-----------:|--------:|
| +	       |Addition: adds two operands |	x + y |
|–	 | Subtraction: subtracts two operands |	x – y |
|*	| Multiplication: multiplies two operands |	x * y | 
|/	| Division (float): divides the first operand by the second |	x / y |
|//	| Division (floor): divides the first operand by the second |	x // y | 
|%	| Modulus: returns the remainder when first operand is divided by the second | x % y |
|**	| Power : Returns first raised to power second |	x ** y |

In [30]:
x = 10 
y = 20 

print(x+y)
print(y-x) 
print(y/x)
print(y//x)
print(y%x)
print(y**2)
x = 3 
y = 2 
print(3 / 2) 
print(3 // 2)

30
10
2.0
2
0
400
1.5
1

In [31]:
x = 5 
y = 4 
x = x + y 
print(x)

9

#### Operator Penugasan
|Operator |	Simbol |
|:--------|:-------|
| Pengisian |	= |
| Penjumlahan |	+= |
| Pengurangan |	-= |
| Perkalian |	*= |
| Pembagian |	/= |
| Sisa Bagi |	%= |
| Pemangkatan |	**= |

In [34]:
x = 2 
y = 4 
x += y 
print(x)

x -= y 
print(x)

x *= y 
print(x)
x = 2 
y = 4 
y /=x 
print(y)
x = 2 
y = 4 
y //=x 
print(y)
x = 2 
y = 4 
y %= x 
print(y)
x = 2 
y = 4 
y **= x 
print(y)

6
2
8
2.0
2
0
16

#### Comparison Operators 

- membandingkan dua nilai 
- dengan operator relasi
  
|Operator |	Simbol |
|:--------|:-------|
|Lebih Besar|	> |
| Lebih Kecil |	< |
| Sama Dengan	| == | 
| Tidak Sama dengan |	!= |
| Lebih Besar Sama dengan |	>= |
| Lebih Kecil Sama dengan |	<= |

In [35]:
a=10 
b=20

In [36]:
print( a == b)

False

In [37]:
print(a != b)

True

In [38]:
print(a < b)

True

In [39]:
print( a > b )

False

In [40]:
print(b > a)

True

In [41]:
print(a>=b)

False

In [42]:
a = 10 
b = 10 
print (a >= b)

True

#### Operator Logika 
- operasi logika  ( AND , OR , NOT )

|Nama |	Simbol di Python |
|:----|:----------|
| Logika AND |	and |
| Logika OR	| or |
| Negasi/kebalikan |	not |

Contoh : "and" 

|x   and  y | result | 
|----------:|-----:|
|True and True | True |
|True and False | False |
|False and False | False   | 

Contoh : "or" 

|x   or  y | result | 
|----------:|-----:|
|True or True | True |
|True or False | True |
|False or True | True |
|False or False | False   |

In [56]:
a = True 
b = False

In [58]:
x = a and b 
print(x)
a = True 
b = True
x = a and b 
print(x)

True
True

##### String manipulation

In [60]:
# operator 
s = "foo"
t = "bar"
u = 'baz'

print( s + t )
print (s + t + u)
print("Iketut"+" Gunawan")

foobar
foobarbaz
Iketut Gunawan

In [62]:
# operator * 
halo = "Hallo"
print(halo * 5) 

print("="*15)

HalloHalloHalloHalloHallo
===============

In [63]:
# operatorn in 
halo = 'Halo' 

print( halo in 'Halo apa kabar ?')

print( halo in 'halo apa kabar ?')

True
False

In [64]:
# Case conversion 
s ="HackTIV8"

# lower 
print(s.lower())

# upder 
print(s.upper())

# Swapcase 
print(s.swapcase())

s = "hadapi dengan senyuman"

print(s.capitalize())

print(s.title())

hacktiv8
HACKTIV8
hACKtiv8
Hadapi dengan senyuman
Hadapi Dengan Senyuman

#### Container

<img src="images/01_container.png" width="600" align="center">

<img src="images/02_container.png" width="600" align="center">

<img src="images/03_container.png" width="600" align="center">

<img src="images/05_container.png" width="600" align="center">

#### Python List 

- menggunakan tanda kurung siku

Karakteristik penting dari List Python adalah sebagai berikut:


* Lists di siapkan.
* Lists dapat berisi objek sembarang.
* Elemen Lists dapat diakses dengan indeks.
* List dapat masukan ke kedalaman yang bebas.
* List bisa berubah.
* List bersifat dinamis.

In [65]:
names = ['budi','Joko','Jono',"Bowo"] 
print(names)
print(type(names))

['budi', 'Joko', 'Jono', 'Bowo']
<class 'list'>

In [66]:
vara = ['budi','Joko',100,10.1]
print(vara)
print(type(vara))

['budi', 'Joko', 100, 10.1]
<class 'list'>

In [71]:
a = ['a1','b1','c1','d1','e1','f1']
b = ['a1','c1','b1','f1','e1','d1']
c = ['a1','b1','c1','d1','e1','f1']

print(a == b) 
print(a == c)

False
True

In [72]:
print(a[0])

a1

In [73]:
print(a[5])

f1

In [74]:
print(a[-1])

f1

![alt text](https://i.ibb.co/2dwyz0n/list.png "List Element")

In [76]:
strlist = ['foo','bar','baz','qux','quux','corge']
print(strlist[5])
print(strlist[-1])

corge
corge

In [77]:
print(strlist[-2])

quux

In [79]:
panjanglist = len(strlist)
print(panjanglist)

6

In [80]:
print(strlist[panjanglist-1])

corge

In [81]:
print(strlist[len(strlist) - 1])

corge

In [78]:
print(print(strlist[6]))

IndexError: list index out of range

![alt text](https://i.ibb.co/HBpJ63P/list2.png "List Element")

In [82]:
strlist = ['foo','bar','baz','qux','quux','corge']

strlist[1:4]

['bar', 'baz', 'qux']

In [83]:
strlist[0:4]

['foo', 'bar', 'baz', 'qux']

In [84]:
strlist[:4]

['foo', 'bar', 'baz', 'qux']

In [85]:
strlist[1:]

['bar', 'baz', 'qux', 'quux', 'corge']

In [86]:
strlist[1] = 10
print(strlist)

['foo', 10, 'baz', 'qux', 'quux', 'corge']

In [87]:
del strlist[3]
print(strlist)

['foo', 10, 'baz', 'quux', 'corge']

In [89]:
print(strlist[1:3])

[10, 'baz']

In [90]:
strlist[1:3] = [1.1,2,3,5.5,10]
print(strlist)

['foo', 1.1, 2, 3, 5.5, 10, 'quux', 'corge']

In [104]:
buah = ['apel','jeruk','mangga','durian','rambutan']
print('jeruk' in buah)
print('Jeruk' in buah)

True
False

In [93]:
buah.index('mangga')

2

In [94]:
buah.index('anggur')

ValueError: 'anggur' is not in list

In [105]:
buah.append('anggur') 
print(buah)

['apel', 'jeruk', 'mangga', 'durian', 'rambutan', 'anggur']

In [106]:
buah.remove('mangga')
print(buah)

['apel', 'jeruk', 'durian', 'rambutan', 'anggur']

In [101]:
buah_delete = buah.pop(2) # delete berdasarkan index dan mereturn value didelte
print(f"{buah_delete} telah di delte")

durian telah di delte

In [107]:
buah.insert(2,"manggis")
print(buah)

['apel', 'jeruk', 'manggis', 'durian', 'rambutan', 'anggur']

In [109]:
buah.sort()
print(buah)
print(type(buah))

['anggur', 'apel', 'durian', 'jeruk', 'manggis', 'rambutan']
<class 'list'>

In [111]:
buah_sorted = sorted(buah)
print(buah_sorted)
print(type(buah_sorted))

['anggur', 'apel', 'durian', 'jeruk', 'manggis', 'rambutan']
<class 'list'>

#### Python Tuples 
menggunakan kurung tupup '()' 
tidak bisa di rubah

In [113]:
buaht = ('anggur', 'apel', 'durian', 'jeruk', 'manggis', 'rambutan')
print(buaht)
print(type(buaht))

('anggur', 'apel', 'durian', 'jeruk', 'manggis', 'rambutan')
<class 'tuple'>

In [114]:
print(buaht[-1])

rambutan

In [115]:
buaht[0] = 'semanggka'
print(buaht)

TypeError: 'tuple' object does not support item assignment

In [117]:
(x1, x2,x3) = ('satu','dua','tiga')
print(x1,x2,x3)

satu dua tiga

In [118]:
(x1, x2) = ('satu','dua','tiga')

ValueError: too many values to unpack (expected 2)

In [119]:
countdown = 1,2,3, "RUN!!!!"
print(countdown)
print(type(countdown))

(1, 2, 3, 'RUN!!!!')
<class 'tuple'>

In [120]:
single = (1,)
print(single)

(1,)

In [121]:
# list of tupple 
point = [(4,3),(5,2),(7,7),(9,9)]

for p in point:
    print(f" x : {p[0]}, {p[1]} ")

 x : 4, 3
 x : 5, 2
 x : 7, 7
 x : 9, 9

### Python Dictorynary 
-  {} 
-  isi  bisa berupa list 
-  isi bisa berupa object  
-  bisa berubah dan dinamis 
-  Key dan Value ( dapat diakses menggunakan key)
-  Key string 
-  key dan value di pisahkan menggunakan titik dua ':'

<img src="https://i.ibb.co/zRsctx8/mlb.png" width="400" align="center">

In [122]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [123]:
print(MLB_team['Boston'])

Red Sox

In [124]:
print(MLB_team['Boston '])

KeyError: 'Boston '

In [125]:
MLB_team['Boston'] = 'Satria Muda'

In [126]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Satria Muda', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [127]:
del(MLB_team['Boston'])
print(MLB_team)

{'Colorado': 'Rockies', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [128]:
salaries = {
    "Budi":1000, "Wati":50000, "Iwan":3000
}
print(salaries)
data_element = salaries.pop('Wati')
print(data_element)
print(salaries)

{'Budi': 1000, 'Wati': 50000, 'Iwan': 3000}
50000
{'Budi': 1000, 'Iwan': 3000}

In [129]:
person = {} 
type(person)

dict

In [130]:
person['fname'] = "IKetut"
person["lname"] = 'Gunawan' 
person['age']=45 
person["children"] =['Yusuf','Sulaiman','Ibrahim','Fatimah']
person['pets'] = [{'keysArr': ['ath', 'atl', 'circulatingSupply'],'Dog':'Jumba'}]
person["skill"] = {"programming":['Java','Golang','Python','Solidity'],
                   "database":{"nosql":['MonggoDb','Neo4J'],"rdbms":['Mysql','PostgreSQL','Oracle']}}

In [131]:
print(person)

{'fname': 'IKetut', 'lname': 'Gunawan', 'age': 45, 'children': ['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah'], 'pets': [{'keysArr': ['ath', 'atl', 'circulatingSupply'], 'Dog': 'Jumba'}], 'skill': {'programming': ['Java', 'Golang', 'Python', 'Solidity'], 'database': {'nosql': ['MonggoDb', 'Neo4J'], 'rdbms': ['Mysql', 'PostgreSQL', 'Oracle']}}}

In [133]:
import json 
print(json.dumps(person, sort_keys=False, indent=4))

{
    "fname": "IKetut",
    "lname": "Gunawan",
    "age": 45,
    "children": [
        "Yusuf",
        "Sulaiman",
        "Ibrahim",
        "Fatimah"
    ],
    "pets": [
        {
            "keysArr": [
                "ath",
                "atl",
                "circulatingSupply"
            ],
            "Dog": "Jumba"
        }
    ],
    "skill": {
        "programming": [
            "Java",
            "Golang",
            "Python",
            "Solidity"
        ],
        "database": {
            "nosql": [
                "MonggoDb",
                "Neo4J"
            ],
            "rdbms": [
                "Mysql",
                "PostgreSQL",
                "Oracle"
            ]
        }
    }
}